<ul class="nav nav-sidebar">
    <li><a href="{{ path("app_admininquiry_admininquirylist") }}">お問い合わせ管理</a></li>
    <li><a href="">ブログ管理</a></li>
    <li><a href="{{ path("app_itemregist_adminitemregist") }}">商品登録</a></li>
</ul>
